<h1>Show of route</h1>

<p><%= @route.name %></p>
<p><%= @route.start_location %></p>
<p>Liked <%= @likes_count %> times</p>
<p>Delete? <%= link_to "this route", route_path(@route), data: { confirm: "Are you sure?" }, method: :delete %></p>

<% if current_user %>
    <% if current_user.liked? @route %>
        <p data-reflex="click->LikeReflex#dislike" data-route_id="<%= @route.id %>" data-user_id="<%= current_user.id %>">Unlike</p>
    <% else %>
        <p data-reflex="click->LikeReflex#like" data-route_id="<%= @route.id %>" data-user_id="<%= current_user.id %>">like</p>
    <% end %>
    <p>Add a comment</p>
    <%= simple_form_for [@route, @comment], html: { data: { reflex: "submit->CommentReflex#create", controller: 'comments', user: current_user.id } } do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.submit %>
    <% end %>
<% end %>

<% if @comments.any? %>
    <% @comments.each do |comment| %>
         <p><%= comment.content %></p>
         <% if comment.user == current_user %>
            <%= link_to "delete comment", comment_path(comment), data: { reflex: "click->CommentReflex#destroy", comment_id: comment.id }, method: :delete %>
         <% end %>
    <% end %>
<% end %>

<%= Rails.root.join("config/secrets/figz_google_bucket.json") %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>