<h1>Show of route</h1>

<p><%= @route.name %></p>
<p><%= @route.start_location %></p>

<p>Delete? <%= link_to "this route", route_path(@route), data: { confirm: "Are you sure?" }, method: :delete %></p>


<% if current_user %>
    <p>Add a comment</p>
    <%= simple_form_for [@route, @comment] do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.submit %>
    <% end %>
<% end %>

<% if @comments.any? %>
    <% @comments.each do |comment| %>
         <p><%= comment.content %></p>
    <% end %>
<% end %>